.background_container {
  height: 90vh;
  width: 100%;
  background-image: url("../../images/sports.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  filter: blur(0.5px) brightness(0.8);
}

.background_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1);
  /* Light overlay to dim slightly */
  opacity: 0.4;
  /* Reduced opacity for a less dim effect */
  z-index: -1;
  /* Keep this behind the content */
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  align-items: center;
  font-size: 1.7rem;
  color: white;
  /* Semi-transparent background to enhance text visibility */
  padding: 20px;
  border-radius: 8px;
}

.button {
  font-size: 32px;
  cursor: pointer;
  border-radius: 8px;
  padding: 24px;
}